<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    
    {% load static %}

    <!-- Enlaza al archivo CSS principal -->

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script>
        function verificarRol() {
            var rol = document.querySelector('input[name="rol"]:checked').value;
            if (rol === 'Granjero') {
                document.getElementById('formulario-nacimiento').style.display = 'block';
            } else {
                alert('Acceso Restringido');
            }
        }
    </script>
</head>
<body>
    <header>
        {% include 'snippets/menu_principal.html' %}
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <!-- Asumiendo que hay un snippet para el pie de página que se incluye en todas las páginas -->
        {% include 'snippets/pie_pagina.html' %}
    </footer>
</body>
</html>
